<app-cabecera></app-cabecera>

<div class="container">

  <router-outlet></router-outlet>
</div>
<!-- <h1 *ngIf="saludo;else despedida">Hola Mundo</h1>
<ng-template #despedida>
  <h1>Adios</h1>
</ng-template>
<button (click)="saludar()">Saludar</button>
<h2 [ngClass]="clase">Noticias</h2>
<button (click)="cambiarColor()" class="btn btn-dark">Cambiar Color</button>

<table class="table table-bordered table-hover">
  <thead class="thead-dark">
    <th>Titulo</th>
    <th>Contenido</th>
  </thead>
  <tbody>
    <tr *ngFor="let noticia of noticias">
      <td>{{noticia.titulo}}</td>
      <td>{{noticia.contenido}}</td>
    </tr>

  </tbody>
</table> -->
<app-piedepagina></app-piedepagina>